*{
    margin: 0;
    padding: 0;    
}

header{
    grid-area: cabecalho;
    background-color: blue;

}
.topo{

    background-color: orange;
}

main{

    grid-area: conteudo;
    display: grid;
    grid-template-columns: 33% 33% 33%;
    align-items: center;
    background-image: url();

}



.computador{

    grid-area: computador;

}

.stylePlay{

    grid-area: jogador;

}

footer{

    grid-area: rodape;

    background-color:blue;
    
}

#pontuacaoComputador{

    background-color: green;

}
#pontuacaoJogador{

    background-color: red;
}

#pontuacaoEmpate{

    background-color: blue;
}
 

body {

    display: grid;
    min-height: 100vh;
    grid-template-columns: 20% 60% 20%;
    grid-template-rows: 100px 350px  50px;
    grid-gap: 2px;
    grid-template-areas:
    'cabecalho cabecalho cabecalho'
    'jagador conteudo computador'
    'pontuacaoJogador pontuacaoEmpate pontuacaoComputador '
    'rodape rodape rodape';  

}

.tela_conteudo{

 
   

 
}

elemento{

    margin: 0 auto;
    padding: 50px;

}

#resultado{


}

